<div class="education-section">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-4 my-4">
        <div class="card">
          <div class="card-header text-center">
            The Royal Central School of Speech and Drama, London, UK
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">
              Master of Fine Arts - Writing for Stage and Broadcast media
            </h5>
            <i class="far fa-circle"></i>
            <span class="card-text score">Pass with merit</span><br />
          </div>
        </div>
      </div>

      <div class="col-md-4 my-4">
        <div class="card">
          <div class="card-header text-center">
            London Metropolitan University, London, UK
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">
              MA - Creative, Digital and Professional Writing
            </h5>
            <i class="far fa-circle"></i>
            <span class="card-text score">Pass with Merit</span><br />
          </div>
        </div>
      </div>

      <div class="col-md-4 my-4">
        <div class="card">
          <div class="card-header text-center">
            Yashwantrao Chavan College of Engineering, Nagpur, India
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">
              Bachelor of Engineering in Information Technology
            </h5>
            <i class="far fa-circle"></i>
            <span class="card-text score">Grade 2:1</span><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
