<div class="experience-section">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">
            bigspark Ltd., London (February 2022 - Present)
          </h5>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">Scrum Master | Business Analyst</li>
          </ul>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Scrum master with 7 years’ experience in the IT industry with a
              track record of leading agile teams, ensuring efficient and
              timely, customer-focused delivery
            </span>
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Professional Scrum Master I Certification (PSM I) - Jun
              2018</span
            >
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Leading multi vendor teams in complex Data Engineering project,
              Managing Product Owners</span
            >
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Handling change management and release management activities and
              overseeing project delivery</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">
            Tata Consultancy Services, Pune (December 2011 - January 2019)
          </h5>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
              Assistant Consultant (Ex. Systems Engineer, IT Analyst)
            </li>
          </ul>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Java developer with 7 years’ experience in the IT industry with a
              track record of leading agile teams, ensuring efficient and
              timely, customer-focused delivery Led multi vendor teams, in
              complex projects, with offshore and onshore teams Experienced in
              writing/testing XML transactions, API development and testing
            </span>
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Development and maintenance of business-critical application for
              a leading Healthcare and Pharmaceutical Client (USA) involving all
              the phases of the Software Development Life Cycle (SDLC), as well
              as L3 level production support</span
            >
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span>
              UI development using Java Swings - Redesign of the application UI
              for migrating to touch screen devices to be used at the pharmacy
              stores by pharmacist users
            </span>
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Worked on major functionality enhancements enabling workload
              balancing among pharmacy stores using Hub and spoke model, wrote
              various XML transactions, XSDs and APIs, involving workflows with
              Mainframes, BizTalk messaging, health insurances, etc</span
            >
          </div>

          <div class="card-point">
            <i class="far fa-circle"></i>
            <span
              >Migration of 67 pharmacy reports from Elixir tool to iText
              reporting framework</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
